<!DOCTYPE html>
<html>
<head>
  <title>Nested cruds</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "nested_cruds/application", media: "all" %>
  <%= javascript_include_tag "nested_cruds/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
